@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Zen Maru Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #4B5563;
  background-color: #FFFDF5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFDF5;
}

#root {
  width: 100%;
}